---
import { getCollection } from 'astro:content';
import Default from "layouts/Default.astro";
import Image from "components/Image.astro";
import Action from "components/Action.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(post => ({
    params: { slug: post.slug }, props: { post },
  }));
}

// 2. When its time to render, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await post.render();
---

<Default
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
  date={post.data.date}
  isArticle
  class="py-8"
>
  <article class="text-gray-700">
    <section>
      <h1
        class="font-heading sm:text-2xl text-xl mb-4 font-medium text-black my-8 leading-relaxed"
      >
        {post.data.title}
      </h1>
      <Image
        src={post.data.image}
        alt={post.data.title}
        height="340"
        width="640"
        class="my-4 w-full rounded"
      />
      <p>Ai Anshu | {new Date(post.data.pubDate).toDateString()}</p>
    </section>
    <section
      class="my-4 py-4 prose prose-headings:font-heading prose-headings:text-xl prose-stone prose-img:rounded prose-a:text-blue-600 prose-a:no-underline"
    >
      <Content />
    </section>
  </article>
  <Action />
</Default>
