---
const { data, url } = Astro.props;
import Image from "components/Image.astro";
---

<article
  class="overflow-hidden rounded-lg shadow-sm border-white transition hover:shadow-lg border-2 hover:border-2 hover:border-black transition delay-75 duration-75 ease-in-out hover:shadow-xl focus:outline-none focus:ring"
>
  <Image
    src={data.image}
    alt={data.title}
    height="250"
    width="450"
    class="w-full object-cover"
  />

  <div class="bg-white p-4 sm:p-6">
    <time datetime={data.pubDate} class="block text-xs text-gray-500">
      {data.pubDate}
    </time>

    <a href={`/blog/${url}`}>
      <h3 class="mt-0.5 font-heading font-medium text-lg text-gray-900">
        {data.title}
      </h3>
    </a>

    <p class="mt-2 line-clamp-3 font-text text-sm/relaxed text-gray-500">
      {data.description}
    </p>
  </div>
</article>
