---
const { frontmatter, url } = Astro.props;
import Image from "components/Image.astro";
---

<div
  class="text-neutral-900 p-4 bg-lightGray rounded-md border-2 hover:border-2 hover:border-black transition delay-75 duration-75 ease-in-out hover:scale-105 hover:shadow-xl focus:outline-none focus:ring"
>
  <Image
    src={frontmatter.image}
    alt={frontmatter.title}
    height="250"
    width="450"
    class="rounded-t my-4"
  />
  <h4 class="font-heading py-4"><a href={url}>{frontmatter.title}</a></h4>
  <p>{frontmatter.description}</p>
</div>
