---
const { frontmatter } = Astro.props;
import Default from "layouts/Default.astro";
import Image from "components/Image.astro";
import Action from "components/Action.astro";
---

<Default
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image}
  isArticle
  class="py-8"
>
  <article class="text-gray-700">
    <section>
      <h1
        class="font-heading sm:text-4xl text-xl mb-4 font-medium text-black my-8 leading-relaxed"
      >
        {frontmatter.title}
      </h1>
      <Image
        src={frontmatter.image}
        alt={frontmatter.title}
        height="340"
        width="640"
        class="my-4 w-full rounded"
      />
      <p>Ai Anshu | {frontmatter.date}</p>
    </section>
    <section class="my-4 py-4 prose prose-headings:font-heading">
      <slot />
    </section>
  </article>
  <Action />
</Default>
