---
/**
 * Core Layout
 * It's build to be used in other Layouts, Not in Pages
 * It's like the base for other Layouts Handling the SEO, Kayout Shift from here,
 * It's Headless So, there is nothing else than, body tag.
 *
 * Endpoint for loading common scripts, global styles and style like fonts
 */

export interface Props {
  title: string;
  description: string;
  date?: any;
  image?: string;
  class?: string;
  isArticle?: boolean;
  isProject?: boolean;
}

const {
  title,
  description,
  image,
  class: className = "",
  isArticle,
  isProject,
  date: publishedDate,
} = Astro.props;

const date = new Date(
  publishedDate
    ? publishedDate.includes("|")
      ? publishedDate.split("|")[0] + publishedDate.split("|")[2]
      : publishedDate
    : null
).toUTCString();

const canonicalURL = new URL(
  Astro.url.pathname.replace(/([^/])$/, "$1/"),
  Astro.site
);
const imageURL = new URL(image ?? "./Social.png", Astro.site);
import ArticleSchema from "components/jsonld/articleSchema.astro";
import WebsiteSchema from "components/jsonld/websiteSchema.astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- common -->
    <meta charset="utf-8" />

    <!-- Defining the current Language -->
    <meta property="og:locale" content="en_US" />
    <meta http-equiv="content-language" content="en-US" />
    <meta name="language" content="English" />
    <!-- Favicon-Icon,Width-Height,Theme-Color, SiteMap, and Dark Mode -->
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#1A202C" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/rss.xml"
      title="RSS"
    />
    <!-- Preload -->
    <slot name="preload" />

    <!--  blog counts as an OG type of "article", not "website" -->
    <meta property="og:type" content={isArticle ? "article" : "website"} />

    <link rel="stylesheet" href={isArticle ? "/styles/post.css" : ""} />

    {
      isArticle ? (
        <ArticleSchema
          date={date}
          image={imageURL}
          title={title}
          description={description}
          url={canonicalURL}
        />
      ) : (
        <WebsiteSchema />
      )
    }

    <!-- Date Time Information about your last changes -->
    <meta name="revised" content={date} />
    <meta property="article:modified_time" content={date} />
    <link rel="canonical" href={canonicalURL} />

    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="/favicon.ico" />
    <link href="/cdn/aos.css" rel="stylesheet">

    <meta name="generator" content={Astro.generator} />

    <!-- Meta Tags Responsible for Title for the Page -->
    <title set:html={title} />
    <meta name="apple-mobile-web-app-title" content={title} />
    <meta name="page-subject" content={title} />
    <meta name="title" content={title} />
    <meta property="og:site_name" content={title} />

    <meta property="og:title" content={title} />
    <meta property="twitter:title" content={title} />

    <!-- Meta Tags Responsible for description of your site -->
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="twitter:description" content={description} />
    <meta name="summary" content={description} />
    <!-- Open Graph / Facebook -->
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={imageURL} />
    <meta
      property="og:image:alt"
      content="Banner for site, showing page title in a playful way"
    />
    <meta property="og:image:secure_url" content={imageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:image" content={imageURL} />

    <meta name="author" content="Anshu Meena, gxanshu@yahoo.com" />
    <meta property="twitter:site" content="@gxanshu" />
    <meta property="twitter:site:id" content="@gxanshu" />
    <meta property="twitter:creator" content="@gxanshu" />
    <meta property="twitter:creator:id" content="@gxanshu" />

    <!-- <meta name="twitter:creator" content="@monicalent">
  <meta property="twitter:creator:id" content="13334762"> -->
    <meta name="creator" content="@gxanshu" />
    <meta name="publisher" content="gxanshu" />
    {
      isProject ? (
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
        />
      ) : null
    }

    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-5D7Z6EYSZ0"
    ></script>

    <script onload="window.addEventListener('DOMContentLoaded', ()=>{AOS.init()})" src="/cdn/aos.js"></script>

    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5D7Z6EYSZ0");
    </script>
    <style is:global>
      * {
        transition: all 0.2s;
      }
      .astro-code {
        background-color: #F5F5F5 !important;
      }
      .astro-code::-webkit-scrollbar {
        background-color: transparent;
        width: 0px;
        display: none;
      }
    </style>
  </head>
  <body class={`${className} bg-white`}>
    <slot />

    <!-- optimizing google adsence code for lazy loading  -->
    <!-- <script is:inline>
      function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.crossOrigin = "anonymous";
        element.src =
          "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6691816550079346";
        document.body.appendChild(element);
      }
      ["click", "scroll", "mousemove", "touchstart"].forEach(function (e) {
        window.addEventListener(e, firstInteraction, {
          once: true,
        });
      });
      var userInteracted = false;

      function firstInteraction() {
        if (!userInteracted) {
          userInteracted = true;
          downloadJSAtOnload();
        }
      }
    </script> -->
    <style is:global>
      body::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      ::selection {
        background-color: #c9f3fd;
      }

      .bg-clip-text {
        -webkit-background-clip: text;
      }
    </style>
  </body>
</html>
